---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Kei"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('February 29 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
<p>Hey there!, I'm Kei (/ˈkeɪ/), a 23-year old aspiring software devloper
	currently working towards my VET diploma in IT @WISS in Bern.
	Coding enthuasist by day, football and gaming fanatic by night. I'm here to share my journey
	as I navigate and explore the realms of technology and beyond.
</p>


<p>With a keen interest in front-end development, I'm on a mission to craft seamless and captivating digital experiences that resonate with users.</p>

<p>Beyond the screen, my interests span a colorful spectrum – from exploring the melodies of music to unraveling the mysteries of perfumes, diving into the cinematic universes of movies, and cheering passionately for my beloved Tottenham in football matches. 
	
<p>As a passionate gamer, I find solace and excitement in the virtual realms, particularly as a devoted follower of T1 in esports.</p>

<p>Fun fact: I proudly hold the Diamond Rank in League of Legends (Top 2.1% Worldwide) and the Ascendant Rank in Valorant (Top 1% Worldwide), showcasing my dedication and skill in the competitive gaming arena. </p>

<p>When I'm not busy honing my coding skills, you can find me sporadically working on small projects like my personal website or any intriguing endeavors I scavenge on the Internet. 🐸 </p>

<p>My journey into the realm of programming began with an initial exposure to HTML, CSS, and I'm continuously expanding my toolkit. Currently, I'm delving deeper into the vast expanse of knowledge with "The Odin Project," honing my skills and embracing the challenges that come my way.</p>

This blog is more than just a platform; it's a space where I document my triumphs, challenges, and everything in between. Join me as I navigate the ever-evolving landscape of technology, one line of code at a time.


</Layout>
