---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi! I'm Kei.</h1>
			<p>As a passionate advocate of preserving memories, 
				I've created this blogfolio to chronicle my journey as a software developer. 
				Here, I capture pivotal moments, celebrate milestones, and hold myself accountable to my goals.</p>

			<p>This space serves as a digital archive, reflecting not only where I've been but also where I'm headed. 
				Through my blog posts, projects, and reflections, you'll gain insights into my growth, challenges, and triumphs 
				as I navigate the ever-changing landscape of technology.</p>

			<p>Join me on this exhilarating voyage as I document my experiences, share my learnings, and showcase my progress. 
				Together, let's embark on a journey of discovery, innovation, and personal development.</p>
			<p>I have done small projects such as...</p>
			<ul>
				<li>**Celebrity Chef Adventure** a Text-based adventure game created with C++</li>
				<li>A **Numbers Guessing Game** created with C#</li>
			</ul>
			<p>You can find other projects on my <a href="https://github.com/keiwsh">GitHub</a></p>
			<p>
			</p>
		</main>
		<Footer />
	</body>
</html>
